    <h1>Данные по микроволновкам:</h1>
    <h3>@Model.CurrentCategory</h3>
    @{
        foreach (var microwave in Model.AllMicrowaves)
        {
            <div>
                <h2>Модель: @microwave.Name</h2>
                <p>Цена: @microwave.Price.ToString("c")</p>
            </div>
        }
    }